/GIT_Build
/Release
obj
bin
/Build/Builder.xml
/Build/Builder.exe
/Build/Refmanual.chm
/.vs
/Build/**/*.config
/Build/**/*.deps.json
/Build/**/*.dll
/Build/**/*.exe
/Build/**/*.pdb
/Build/**/*.runtimeconfig.json
/Source/**/*.user
/Source/Plugins/VisplaneExplorer/Resources/*.ilk
/Source/Plugins/VisplaneExplorer/Resources/*.exp
/Source/Plugins/VisplaneExplorer/Resources/*.lib
/Source/Plugins/VisplaneExplorer/Resources/*.pdb
/Source/Plugins/vpo_dll/Debug
/Build/BuilderNative.dll
/Build/BuilderNative.exp
/Build/BuilderNative.ilk
/Build/BuilderNative.lib
/Build/BuilderNative.pdb
/Source/Native/Debug
/Source/Native/Release
*.iobj
*.ipdb
/Source/Plugins/vpo_dll/Release
/Source/Core/*.user
/Build/libBuilderNative.so
/Build/OpenGLDebug.log
/Source/Native/*.log
/Build/builder
